.inbox-page {
  width: 100%;
  height: 552px;
  text-align: center;
  margin: -2px 0 0 0;
  display: flex;
}

.inbox-leftpanel-container {
  float: left;
  width: 25%;
  font-size: 12px;
  padding-top: 35px;
  height: 90%;
  border: 1px solid;
  border-color: #ddd;
  margin: 0 0 0 10px;
  border-radius: 15px;
  background-color: #e7e8e7;
  padding: 0 0 35px;
}

.inbox-rightpanel-container {
  float: left;
  width: 70%;
  font-size: 12px;
  height: 90%;
  border: 1px solid;
  border-color: #ddd;
  margin: 0 0 0 10px;
  border-radius: 15px;
  background-color: #e7e8e7;
  padding: 0 0 35px;
}

.inbox-header-block {
  background-color: #fff;
  height: 100%;
  clear: both;
}

.inbox-header-right-block {
  background-color: #fff;
  height: 91%;
  clear: both;
}

.inbox-remove-btn {
  float: left;
}

.inbox-remove-btn a {
  background: linear-gradient(to bottom, #f0ebf0 0%, #f1ecec 27%, #c7c1c1 100%);
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
  border: 1px solid;
  display: block;
  color: #000;
  text-decoration: none;
}

.inbox-remove-btn a:hover {
  background: linear-gradient(to bottom, #f0ebf0 4%, #d8d1d1 27%, #867f7f 100%);
}

.inboxprogram-coursebutton {
  width: 40px;
}

.search-link {
  cursor: pointer;
  color: #00f;
}
/* stylelint-disable selector-class-pattern */
.inbox-table > .ReactTable {
  .rt-th,
  .rt-td {
    border-right: 0 !important;
  }

  .rt-table {
    height: 420px !important;
  }

  .rt-thead.-header {
    background: linear-gradient(to top, #ddd 0%, #ddd 97%, #ddd 100%);
    font-weight: bold;
    padding: 5px;
  }

  .rt-tr-group {
    border-bottom: 1px solid !important;
    border-color: #ddd !important;
    padding-top: 15px;
    flex: none;
  }

  .rt-tbody {
    background: #fff;
  }
}

.student-work-rightpanel-container .ReactTable .rt-th {
  border-right: 0;
}

/* stylelint-enable selector-class-pattern */
