.sri-settings-content-panel {
  .program-settings__tab-content {
    display: block;
  }
}

.ri-setting__checkbox-input {
  margin-left: 0;
  margin-right: 5px;
}

.ri-setting__select-box {
  background-color: #fff;
  margin-left: 5px;
}

.ri-setting__text-input {
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
}

.ri-settings__settings-tab-content {
  background-color: #ffe279;
  display: inline-block;
  height: 300px;
  width: 98%;
  margin-left: 1%;
  font-size: 9pt;
  margin-top: 1%;
}

.ri-settings__setting {
  padding: 3px 3px 3px 8px;
}

.ri-setting__text-input {
  background-color: #fff;
}

.ri-settings__buttons {
  padding-left: 6px;
  padding-right: 6px;
}

.ri-settings__settings-tab-content--overlay {
  position: relative;
  z-index: 300;
}

.ri-settings__test-settings {
  border: 1px solid #000;
  float: left;
  height: 30%;
  width: 100%;
}

.ri-settings__test-experience-settings {
  border: 1px solid #000;
  float: left;
  height: 70%;
  width: 100%;
}

.ri-settings__setting--varying {
  color: #9a9a9a;
}

.ri-settings__instruction-text {
  font-size: 11px;
  padding: 10px;
}

.ri-settings__legend-text {
  font-size: 11px;
  height: 11px;
  padding: 0 0 3px 10px;
}

.ri-settings__caption {
  font-weight: bold;
  vertical-align: top;
  padding: 3px 0 0 10px;
  background-color: #ffd400;
  width: 99.9%;
  height: 25px;
  display: inline-block;
  margin-top: 0;
  z-index: +1;
}

.ri-settings__only-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.ri-settings__advanced-settings-loading-container {
  height: 438px;
}

.sri-settings-content-panel .program-settings-buttons__button:first-child {
  margin-left: 10px;
}

.sri-settings-content-panel .program-settings-buttons__button:last-child {
  margin-right: 10px;
}
