.folder-navbar {
  width: 100%;
  height: 220px;
  background-color: #fff;
  border: 1px solid #000;
  padding-top: 40px;
}

.folder-navbar__its-link {
  display: inherit;
  font-size: 10px;
  cursor: pointer;
  color: #424afb;
  text-decoration: underline;
  margin: 20px auto;
}
