.no-items-selected-modal__message {
  font-size: 11px;
  padding: 20px 10px 0 30px;
}

.no-items-selected-modal-success__ok {
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 4px 5px;
}

.no-items-selected-modal-success {
  height: 100px;
  padding: 0;
  width: 175px;
}

.no-items-selected-modal-success__message {
  font-size: 11px;
  padding: 30px 20px 0 45px;
}

.no-items-selected-modal-success__button {
  margin-top: 5px;
  background-color: #d06021;
  border-left: 2px solid hsla(0, 0%, 100%, 0.5);
  border-top: 2px solid hsla(0, 0%, 100%, 0.5);
  width: 60px;
  text-align: center;
  margin-left: 60px;
}



