.manage-roster__heading {
  color: #ffb200;
  font-size: 12px;
}

.manage-roster {
  white-space: pre-wrap;
  float: right;
  font-size: 11px;
}

.manage-roster__links {
  padding-left: 35px;
  display: inline-grid;
}

.roster-links {
  color: #00f;
  display: block;
}


