.ok-cancel-modal {
  width: 252px;
  height: 170px;
  padding: 0;
}

.ok-cancel-modal--body {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.ok-cancel-modal--header {
  background-color: #ffa200;
  color: #fff;
  font-size: 11px;
  margin-top: 0;
  padding: 5px 10px;
  width: 100%;
}

.ok-cancel-modal--message {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
}

.ok-cancel-modal--ok-button,
.ok-cancel-modal--cancel-button {
  min-width: 90px;
  width: 90px;
  height: 24px;
}

.ok-cancel-modal--ok-button {
  float: left;
}

.ok-cancel-modal--cancel-button {
  float: right;
}
