// Styles that extend the styles provided by ReactTable/SAMTable
$thead-color: #311c00;
$thead-background-color: #fed130;
$thead-clicked-color: #ffa200;
$odd-table-row-background-color: #fee180;
$even-table-row-background-color: #fee180;

/* stylelint-disable-next-line selector-class-pattern */
.manage-topic-square-view-table > .ReactTable {
  height: 250px;
  font-size: 8pt;
  float: left;
  margin-left: 10px;
  width: 97.5%;

  // these styles are added by javascript after a table header was clicked
  .-sort-asc,
  .-sort-desc {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: $thead-clicked-color;
  }

  .rt-thead {
    background-color: $thead-background-color;
    color: $thead-color;
    font-weight: 700;
    height: 24px;
    max-height: 24px;
  }

  .rt-th {
    align-items: center;
    border-right-style: none;
    display: flex;
    flex: 1;
    font-size: 11px;
    justify-content: center;
    max-height: 24px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    transition: 0.3s ease;
    transition-property: width, min-width, padding, opacity;
  }

  .rt-tbody {
    border-right: 1px solid #000;
  }

  .rt-tbody:last-child {
    border: initial;
  }

  .rt-td {
    flex: 1;
    padding: 3px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s ease;
    border-right: 0 solid #000;
    transition-property: width, min-width, padding, opacity;
  }

  .rt-td:last-child {
    border: initial;
  }

  .rt-tr.-odd {
    background: $odd-table-row-background-color;
  }

  .rt-tr.-even {
    background: $even-table-row-background-color;
  }

  // styles for custom elements within SAMTable
  .manage-topic-table__body {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    display: block;
    height: 185px;
    overflow-y: auto;
    width: 100%;
  }

  .manage-topic-table__no-data {
    background-color: #fff;
    display: inherit;
    height: 188px;
  }

  .manage-topic-table__no-data-text {
    color: #f00;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 70px;
    text-align: center;
  }

  .manage-topic-table__cell-enabled {
    text-align: center;
  }

  .manage-topic-table__header-enabled {
    background-color: #ffd400;
  }

  .manage-topic-table__header-completion-level {
    white-space: nowrap;
    overflow: visible;
    left: 0;
  }

  .manage-topic-table__topic-cell {
    text-align: center;
  }
}
