.system44-student-goal__modal-system44--modal {
  width: 1015px;
  height: 92%;
  padding: 0;
  border: 0;
  border-radius: 15px;
}

.print-system44__print--here {
  display: none;
}

.print-system44__modal-list--wrapper {
  width: 96%;
  margin: auto;
  height: 96%;
}

.print-system44__modal-list--purple {
  background-color: #9a6fb6;
  margin-top: 2%;
  height: 38px;
  line-height: 37px;
  padding-left: 2%;
  font-size: 22px;
  font-weight: bold;
  border-radius: 13px;
  color: #fff;
}

.print-system44__modal-list--heading {
  float: left;
}

.print-system44-modal__button--close {
  position: absolute;
  right: 25px;
  background: #c895e8;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.print-system44__modal--title {
  margin-bottom: 0.5%;
  background: #e7e8e7;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  font-style: italic;
}

.print-system44__modal-title--span {
  font-style: normal;
  margin-left: 1%;
}

.print-system44-modal__description--box1 {
  width: 49%;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  float: left;
}

.print-system44-modal__description--box2 {
  width: 49%;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  float: left;
  margin-left: 7px;
}

.print-system44-modal__description--title {
  background: #e7e8e7;
  font-weight: bold;
  font-size: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2%;
}

.print-system44-modal-assignment-roster-textarea1 {
  height: 250px;
  overflow-y: scroll;
}

.print-system44-modal-due-date1 {
  width: 50%;
  float: left;
  margin-left: 0.5%;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  height: 101%;
}

.print-system44-modal-due-date-content1 {
  margin-left: 3%;
  font-size: 14px;
  font-family: initial;
  width: 57%;
  float: left;
}

.print-system44-modal-assignment-roster-box {
  width: 100%;
  margin: 1% 0.5% 0 0;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  height: 16%;
  float: left;
  height: 315px;
}

.print-activatequiz__confirmtext2 {
  padding: 0;
  width: 60%;
  height: 18%;
  float: left;
}

.clear {
  clear: both;
}

.print-system44-modal-assignment-roster-div-headers11 {
  font-weight: bold;
  margin-left: 2%;
  font-size: 15px;
}

.print-system44-modal__buttons--firstset1 {
  margin: 11px 0 -9px;
  float: left;
}

.print-system44-modal__buttons-secondset {
  padding-top: 1%;
  padding-left: 83%;
}

.print-system44__modal-button--firstset {
  background: #e7e8e7;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin: 0 0 9px 10px;
  font-size: 13px;
  width: 70px;
}

.print-system44__modal-button--firstset:hover {
  background: #84888e;
}

.print-system44-modal-button-second-set {
  background: #e7e8e7;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin: 3px 0 0 12px;
  font-size: 13px;
  width: 70px;
}

.show-system44-modal-line {
  height: 466px;
  border-bottom: 1px solid #e7e8e7;
}

.print-system44-modal-button-save {
  color: #fff;
  background: linear-gradient(#1989e5, #1f07f7);
}

.print-system44-modal-assignment-span {
  margin-left: 123px;
}

.print-system44-modal-assignment-textbox1 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin-left: 6px;
  margin-right: 1%;
}

.print-system44-modal-assignment-textbox2 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin-left: 6px;
}

.print-system44-modal-assignment-textbox3 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin-left: 6px;
}

.print-system44-modal-button-equals {
  color: #fff;
  background: linear-gradient(#1989e5, #1f07f7);
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin-left: 5px;
  font-size: 13px;
  width: 33px;
  margin-top: 3px;
}

.print-system44-modal-assignment-textbox-comment {
  border: 1px solid;
  margin-left: 50px;
  width: 400px;
}

.print-system44-modal-assignment-wrapper1 {
  font-size: 12px;
  margin-left: 2%;
}

.print-system44-modal-due-date-input {
  margin-top: 6%;
  border: 1px solid;
}

.print-system44-modal-select {
  border: 1px solid;
  margin: 0 1%;  
}

.print-system44-modal-input-textbox {
  border: 1px solid;
  margin: 0 1%;
  background: #fff;
}

.print-system44-modal-assignment-roster-div-details {
  width: 40%;
  margin-bottom: 2%;
  font-size: 12px;
  font-weight: normal;
  margin-top: 2%;
}

.valu1 {
  font-weight: 600;
  background: #f8fbf8;
  box-shadow: 2px 1px 4px 1px #797474;
  border-radius: 20px;
  float: left;
  text-align: center;
  padding: 0 8px;
  margin-right: 15px;
  cursor: pointer;

  &.active {
    background-color: #dcf;
    box-shadow: inset 1px 1px 5px 1px #fb63d3;
  }
}

.print-system44__pull--right1 {
  float: right !important;
  margin-right: 32%;
}

.print-system44__modal--listdata {
  font-size: 12px;
}

.print-system44__modal--listdata1 {
  float: left;
  font-size: 12px;
}

.print-system44-modal__totalpoint--span {
  float: right;
  margin-right: 10px;
  margin-top: -80px;
  width: 23%;
  font-size: 13px;
}

.print-system44-modal__total--input {
  width: 28%;
  border-bottom: 1px solid;
  margin-left: 4%;
  font-size: 12px;
}

.print-system44__modal--boldtext {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.print-system44-modal__inbox-remove--btn1 {
  font-size: 12px;
}

.print-system44-modal__inbox-remove--btn1 a {
  background: linear-gradient(to bottom, #f0ebf0 0%, #f1ecec 27%, #c7c1c1 100%);
  padding: 3px 4px;
  border-radius: 20px;
  margin: 5px;
  border: 1px solid;
  display: block;
  color: #000;
  text-decoration: none;
}

.print-system44-modal__inbox-remove--btn1 a:hover {
  background: linear-gradient(to bottom, #f0ebf0 4%, #d8d1d1 27%, #867f7f 100%);
}

.print-system44__modal--span {
  float: right;
  margin-right: 16px;
}

.print-system44__modal--link {
  font-weight: bold;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

.print-system44__modal-annual-goal--input {
  border: 1px solid;
  width: 13%;
  margin: 0 5px;
}

.print-system44__modal-annual--goal {
  margin-right: 3%;
}

.print-system44-modal-paragraph {
  width: 59%;
}

.print-system44__modal--paragraphdiv {
  width: 55%;
  margin-top: 1%;
  margin-right: 2%;
  float: left;
  height: 95px;
}

.print-system44-modal__annual-academic-goal--input {
  width: 7%;
  border: 1px solid;
  margin: 0 7px;
  padding-left: 3px;
  padding-top: 3px;
}

.print-system44__modal--optiondiv {
  &.last {
    margin: 0;
  }
}

.print-system44__pull--right2 {
  margin-bottom: 2%;
}

.print-system44-modal__listdata--element {
  margin-bottom: 5px;
}

.print-system44-modal__inbox-save--assesment {
  margin: 20px 8px 0 0;
}

.print-system44-modal__button-italic--text {
  font-style: italic;
  float: left;
  line-height: 33px;
  margin: 20px 3px 0 0;
}

.print-system44-modal__inbox-remove--btn2 {
  float: right;
  background: linear-gradient(#1989e5, #1f07f7);
  border: 0;
  color: #fff;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0 6px;
  font-size: 15px;
  border-radius: 71px;
}

.print-system44-modal__inbox-remove--btn2:disabled {
  float: right;
  background: linear-gradient(to bottom, #f0ebf0 4%, #d8d1d1 27%, #867f7f 100%);
  border: 0;
  color: #fff;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0 6px;
  font-size: 15px;
  border-radius: 71px;
}

.print-system44-modal__inbox-remove--btn2 a {
  background: linear-gradient(to bottom, #f0ebf0 0%, #f1ecec 27%, #c7c1c1 100%);
  border-radius: 20px;
  margin: 5px;
  border: 1px solid;
  display: block;
  color: #000;
  text-decoration: none;
}

.inbox-remove-btn2 a:hover {
  background: linear-gradient(to bottom, #f0ebf0 4%, #d8d1d1 27%, #867f7f 100%);
}

.print-system44-modal__boldtext-assess--performance {
  margin-left: 0;
}

.print-system44__studentgoal--errormessage {
  color: #f00;
  margin: 0;
  font-size: 12px;
  padding-top: 5px;
}

.print-system44-modal-warning-heading-layout {
  padding: 0;
  height: 126px;
  width: 308px;
  margin-left: -258px;
  margin-top: -54px;
}

.print-system44-modal__warning-heading--wrapper {
  background: #9ca8b5;
  float: left;
  width: 100%;
  line-height: 23px;
  font-size: 13px;
}

.print-system44-modal__warning--heading {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  float: left;
  margin: 2% 42% 0 4%;
  width: 44%;
}

.print-system44-modal-warning-heading__warning--txt {
  padding: 17% 21% 0 3%;
  font-size: 12px;
}

.print-system44-modal-warning-heading-spelling {
  margin-left: -258px;
  margin-top: 116px;
}

.print-system44-modal-warning-heading-independent-reading {
  margin: 218px 0 0 -213px;
}

.print-system44-modal__warning-heading-wrapper-last--assesment {
  padding: 0;
  height: 265px;
  width: 410px;
  border-radius: 18px;
  border: 1px solid #7d8084;
  margin: 72px 0 0 284px;
}

.print-system44-modal__warning-heading-last-assessment--heading {
  padding: 0 53% 0 2%;
  font-size: 12px;
  float: left;
  font-weight: bold;
}

.print-system44-modal__warning-heading-last--assessment {
  background: linear-gradient(to bottom, #f0ebf0 30%, #d8d1d1 100%);
  height: 30px;
  line-height: 30px;
}

.print-system44-modal__warning-heading-last-assessment-display--content {
  margin: auto;
  width: 92%;
}

.print-system44-modal__warning-heading-last-assessment-display-content--paragraph {
  margin: 4px 0 10px;
  font-size: 13px;
}

.print-system44__recipients--table {
  font-size: 13px;
}

.print-system44__recipients-table--heading {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.print-system44__recipients-table-class--row {
  border-top: 1px solid;
}

.print-system44__recipients-table--class {
  padding-right: 23px;
}

.print-system44__recipients-table-class-individual--textdata {
  text-align: center;
}

.print-system44__recipients-table-class-individual-textdata--final {
  text-align: center;
  font-weight: bold;
}

.print-system44-modal-listdata-element-wrapper {
  margin-bottom: 37px;
}

.print-system44-modal__cancel--warning {
  padding: 0;
  height: 144px;
  width: 314px;
}

.print-system44__modal-button--yes {
  background: linear-gradient(#bcd1f4, #8eb2ed);
  border-radius: 5px;
}

.print-system44__modal-button--no {
  border-radius: 5px;
}

.print-system44-modal-warning-heading--heading {
  padding: 0 53% 0 2%;
  font-size: 12px;
  font-weight: bold;
}

.print-system44-modal__warning-heading-last-assessment--txt1 {
  font-size: 12px;
  width: 85%;
  margin: 2% auto;
}

.print-system44-modal__buttons--firstset2 {
  margin-left: 26%;
}

.print-system44-modal-warning-heading__button--close {
  float: right;
  padding: 10px;
}

.print-system44__modal-list--style {
  list-style-type: disc;
  display: inline-block;
  padding-left: 25px;
}

.print-system44__hyper--link {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

.print-system44__modal-save-status--buttons {
  text-align: center;
}

.print-system44__modal--content {
  text-align: center;
}

.print-system44__modal-save-status--button {
  background: #e7e8e7;
  padding: 4px;
  border: 1px solid;
  margin: 0 0 9px 10px;
  font-size: 13px;
  width: 70px;
}

.pager {
  display: inline-flex;
  font-size: 11px;
  margin: 0 25%; 
}

.pager-prev {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  margin-top: 5px;
  line-height: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.pager-nor { 
  padding: 3px;
  background-color: #fff;
  height: 21px;
  width: 15px;
  margin-top: 5px;
  line-height: 15px;
  text-align: center;
}

.previous {
  color: #000;
}

.system44-pagination {
  display: inline-block;
  margin-left: 330px;
}

@media print {
  .no-print {
    display: none;
  }

  .sam-container {
    display: none;
  }       

  .print-system44__print--here {
    display: block;
  }

  .print-system44__here--border {
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .print-system44__here--contents {
    border-top: 1px solid #ddd;
  }

  .print-system44__border-heading--first {
    float: left;
    width: 20%;
  }

  .print-system44__here-middle--content {
    margin: 0 10%;
    width: 30%;
    float: left;
    padding-bottom: 5%;
  }

  .print-system44__here--margin {
    margin-top: 5%;
  }

  .clear {
    clear: both;
  }

  .print-system44__here--benchmarks {
    margin-bottom: 5px;
  }
}
