.form-errors {
  color: #f00;
  font-size: 10px;
  line-height: 11px;
  margin-top: 40px;
  white-space: pre-wrap;
  max-height: 350px;
  overflow: auto;
}

.form-errors-item {
  padding-bottom: 10px;
}
