.resources-advanced {
  padding-top: 20px;
}

.resources-advanced__text {
  text-align: center;
  color: #80b200;
  margin-left: 20px;
  font-weight: bold;
}

.resources-advanced__text--strand {
  padding-left: 50px;
}

.resources-advanced__text--skill {
  padding-left: 60px;
}

.resources-advanced__search-box {
  width: 350px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  background: #fff;
  margin-top: 30px;
}

.resources-advanced__button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #d06020;
  border-color: rgb(231, 150, 80) rgb(0, 0, 0) rgb(0, 0, 0) rgb(231, 150, 80);
  border-style: solid;
  border-width: 2px;
  color: #fff;
  font-weight: bold;
  height: 21px;
  width: 35px;
  margin-top: 20px;
  margin-right: 250px;
  float: right;

  &:hover {
    border-color: #000;
    border-width: 1px;
  }
}

.resources-advanced__search-box--padding {
  margin-left: 10px;
}

.resources-advanced-no-value {
  display: inline-block;
  height: 200px;
  width: 300px;
  padding: unset;
}

.resources-advanced-no-value__box {
  height: 120px;
  width: 280px;
  border: 1px solid #000;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resources-advanced-no-value__box-text {
  font-size: 10px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.resources-advanced-no-value__ok-button {
  background-color: #81b121;
  margin: auto;

  &:hover {
    border-color: #000;
    border-width: 1px;
  }

  &:focus {
    outline: none;
  }
}
