.logout-modal__message {
  font-size: 11px;
  margin-bottom: 30px;
}

.logout-modal__yes {
  background-color: #f60;
  color: #fff;
  border-radius: 0;
  width: 100px;
  border: 2px solid #000;
  float: right;
  cursor: pointer;
}

.logout-modal__no {
  background-color: rgb(128, 128, 128);
  color: #fff;
  border-radius: 0;
  width: 100px;
  border: 2px solid #000;
  float: left;
  cursor: pointer;
}
