
.r180ng-topics-skip-modal {

  overflow: hidden;
  padding: 0;
  font-size: 12px;
  text-align: center;
  height: 200px;
  width: 250px;
  background-color: #fff;

}

.r180ng-topics-skip-modal-body {

  margin-top: 30px;
  line-height: 1em;
  text-wrap: normal;
  text-align: center;
  padding-left: 10pt;
  padding-right: 10pt;

  display: inline-block;
}

.r180ng-topics-skip-modal-message1 {

  //line-height: 0.8em;
  // margin-top: 20px;
  padding-top: 0;
  text-wrap: normal;


}

.r180ng-topics-skip-modal-heading {

  font-weight: bold;
  height: 12%;
  padding-top: 3px;
  padding-left: 8px;
  background-color: #ffd400;
  margin-top: 0;
  border-left: 1px solid #000;
  text-align: left;

}

.r180ng-topics-skip-modal-footer {

  margin-top: 20px;
  padding-top: 10px;

}

.r180ng-topics-skip-modal--ok-button {

  margin-left: 15px;
  float: left;
  height: 20pt;
  width: 10pt;

}

.r180ng-topics-skip-modal--cancel-button {

  margin-right: 15px;
  float: right;
  height: 20pt;
  width: 10pt;

}
