.r180ng-topics-stage-modal {

  overflow: hidden;
  padding: 0;
  font-size: 12px;
  text-align: center;
  height: 140px;
  width: 250px;
  background-color: #fff;

}

.r180ng-topics-stage-modal-body {

  margin-top: 20px;
  line-height: 1.2em;

}

.r180ng-topics-stage-modal-footer {

  margin-top: 10px;
  padding-top: 10px;

}

.r180ng-topics-stage-modal--ok-button {

  margin-left: 15px;
  float: left;
  height: 20pt;
  width: 10pt;

}

.r180ng-topics-stage-modal--cancel-button {

  margin-right: 15px;
  float: right;
  height: 20pt;
  width: 10pt;

}
