.test-experience-title {
  font-weight: bold;
  vertical-align: top;
  padding: 3px 0 0 10px;
  background-color: #ffd400;
  width: 100%;
  height: 25px;
  display: inline-block;
  margin-top: 0%;
  z-index: +1;
}

.test-experience__checkbox {
  padding: 3px 3px 0 8px;
}
