.deactivate-modal__message {
  font-size: 11px;
  margin-bottom: 30px;
}

.deactivate-modal__yes {
  background-color: #d06021;
  border-left: 2px solid hsla(0, 0%, 100%, 0.5);
  border-top: 2px solid hsla(0, 0%, 100%, 0.5);
  color: #fff;
  border-radius: 0;
  width: 100px;
  float: left;
  cursor: pointer;
}

.deactivate-modal__no {
  background-color: #a6a6a6;
  border-left: 2px solid #ccc;
  border-top: 3px solid #a6a6a6;
  color: #fff;
  border-radius: 0;
  width: 100px;
  float: right;
  cursor: pointer;
}

.modal--deactivate-cohort {
  width: 300px;
  height: 130px;
  padding: 30px 20px 10px 40px;
  overflow: hidden;
}

.modal--deactivate-class-cohort {
  height: 180px;
}
