
.asl-btn-span {
  font-family: 'Verdana sans-serif';
  font-size: 1em;
  text-align: left;
  margin: 0;
  outline: none;
  padding: 5px;
  border: 0;
  background-color: transparent;
  cursor: hand;
  color: #00f;
  text-decoration: underline;
}
