.topic-manager-view-r180ee {
  padding: 4px 10px 0;
}

.topic-manager-view-r180ee__header,
.topic-manager-view-r180ee__select-label,
.topic-manager-view-r180ee__footer {
  font-size: 11px;
  line-height: 20px;
}

.topic-manager-view-r180ee__select {
  padding-bottom: 10px;
}

.topic-manager-view-r180ee__select-field {
  border: 1px #000 solid;
  border-radius: 0;
  line-height: 16px;
  margin-left: 108px;
  padding: 0 4px;
  font-size: 12px;
}

.topic-manager-view-r180ee__modal {
  height: 113px;

  .ok-cancel-modal--message {
    text-align: left;
    padding-top: 10px;
  }
}
