.program-settings__pb-container {
  display: inline-block;
  height: 300px;
  width: 98%;
  margin-left: 1%;
  font-size: 9pt;
  margin-top: 1%;
}

.pb-container__tabular-content {
  background-color: #eaeaea;
  border: 1px solid #000;
  float: left;
  height: 245px;
  width: 100%;
}

.pb-tabular-content__caption {
  font-weight: bold;
  vertical-align: top;
  padding: 3px 0 0 10px;
  background-color: #ffd400;
  width: 99.9%;
  height: 25px;
  display: inline-block;
  margin-top: 0;
  z-index: +1;
}

.pb-heading-table {
  font-size: 11px;
  height: 40px;
  width: 730px;
}

.pb-table__header {
  border: 1px solid #000;
  border-collapse: collapse;
  font-weight: normal;
}

.pb-table__header:first-child {
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  border-right: 1px;
  padding: 8px;
}

.pb-table__header:last-child {
  border-right: 1px solid #000;
}

.pb-table__first-column {
  background-color: #fff;
  width: 64px;
}

.pb-table__band-column {
  max-width: 122px;
  min-width: 122px;
  width: 122px;
}

.pb-table__band-column--1 {
  background-color: #f00;
}

.pb-table__band-column--2 {
  background-color: #f28797;
}

.pb-table__band-column--3 {
  background-color: #ff9;
}

.pb-table__band-column--4 {
  background-color: #cf9;
}

.pb-table__band-column--5 {
  background-color: #9c6;
}

.pb-table__header--gray {
  background-color: #eaeaea;
}

.pb-table-header__input {
  background-color: #fff;
  border: 1px solid #000;
  padding: 4px;
  width: 100px;
}

.pb-table-header__asterisk {
  display: inline-block;
  padding-left: 5px;
  width: 5px;
}

.pb-data-table-cell__dash {
  display: inline-block;
  text-align: center;
  width: 9%;
}

.pb-data-table-cell__low {
  display: inline-block;
  text-align: center;
  width: 35%;
}

.pb-data-table-cell__high {
  display: inline-block;
  text-align: center;
  width: 40%;
}

.pb-data-table-cell__icon {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 12%;
}

.pb-data-table-editable-cell__low {
  display: inline-block;
  text-align: center;
  width: 35%;
}

.pb-data-table-editable-cell__dash {
  display: inline-block;
  text-align: center;
  width: 9%;
}

.pb-data-table-editable-cell__high {
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  width: 40%;
}

.pb-data-table__cell-single-value {
  text-align: center;
  width: 100%;
}

.pb-data-table__cell--invalid {
  background-color: #aaa;
}

.pb-data-table-editable-high__input {
  background-color: #fff;
  border: 1px solid #000;
  padding: 2px;
  width: 40px;
}

.pb-data-table-container {
  height: 178px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.pb-data-table {
  border-collapse: collapse;
  font-size: 11px;
  height: 220px;
  width: 730px;
}

.pb-data-table__cell {
  border-right: 1px solid #000;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-top: 4px;
  text-align: center;
}

.pb-data-table__cell:first-child {
  font-weight: normal;
}

.pb-data-table__cell:last-child {
  border-right: 1px solid #000;
}

.pb-data-table__cell--filler {
  background-color: #fff;
}

.pb-container__select-boxes {
  display: inline-block;
  font-size: 11px;
  margin-top: 12px;
  width: 35%;
}

.pb-container__select-box-wrapper {
  padding-top: 3px;
  text-align: right;
}

.pb-container__select-box {
  border-style: solid;
  margin-left: 5px;
  width: 50px;
}

.pb-container__clear-link-container {
  display: inline-block;
  margin-top: 12px;
  padding-left: 50px;
  vertical-align: top;
}

.icon-circle {
  border-radius: 50%;
  padding-top: 1px;
  padding-left: 1px;
  width: 14px;
  height: 14px;
  background: #9e0000;
  border: 1px solid #9e0000;
  color: #fff;
  text-align: center;
  font: 10px 'Courier New', monospace;
  font-weight: bold;
}

