.xskills-test-assignment-modal-save-success {
  height: 250px;
  width: 320px;
  padding: 7px 5px 10px;
  overflow: hidden;
}

.xskills-test-assignment-save-success__container {
  border: 1px solid #000;
  margin-left: 3px;
  min-height: 175px;
  overflow: auto;
  width: 300px;
}

.xskills-test-assignment-save-success__title {
  vertical-align: center;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: #ffa200;
  color: #fff;
  height: 25px;
  margin-top: 0;
  z-index: +1;
}

.xskills-test-assignment-save-success__message {
  font-weight: normal;
  font-size: 11px;
  margin-top: 20px;
}


.xskills-test-assignment-save-success__details-message {
  font-weight: normal;
  font-size: 11px;
  margin-top: 15px;
}

.xskills-test-assignment-save-success__ok-button-container {
  width: 100%;
  align-content: center;
}

.xskills-test-assignment-save-success__ok-button {
  background-color: #ffa200;
  margin: 10px auto;
  display: block;
}

.xskills-test-assignment-modal-save-success__list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.xskills-test-assignment-save-success__info-container {
  overflow: auto;
  height: 165px;
}

.xskills-test-assignment-save-success__info {
  margin: 0 15px;
}
