.iread-settings__heading {
  font-size: 8pt;
  margin-left: 1%;
  margin-bottom: 1.5%;
}

.iread-settings__content {
  background-color: #ffe279;
  display: inline-block;
  height: 340px;
  width: 98%;
  margin-left: 1%;
  font-size: 9pt;
  margin-top: 1%;
}

.iread-settings__section--full-width {
  float: left;
  width: 100%;
  height: 50%;
  border: 1px solid #000;
}

.iread-settings__section--half-width {
  float: left;
  width: 50%;
  height: 50%;
  border: 1px solid #000;
}

.iread-settings__section-title {
  font-weight: bold;
  vertical-align: text-bottom;
  padding-left: 10px;
  background-color: #ffd400;
  width: 99.9%;
  height: 20%;
  display: inline-block;
  margin-top: 0%;
  padding-top: 7px;
  z-index: +1;
}

.iread-settings__list {
  list-style: none;
  padding-left: 5px;
  margin-left: 2px;
}

.iread-settings__list-item {
  margin-bottom: 5px;
}

.iread-settings__note {
  padding-left: 5px;
  margin-left: 2px;
  color: #f00;
}

.iread-settings__note-list-item {
  margin-top: 0;
}

.iread-settings__note-list-item--italic {
  font-style: italic;
}

.iread-settings__lang-options {
  margin-left: 15px;
  margin-top: 5px;
}

.iread-settings__lang-option-radio {
  margin-right: 3px;
}
