.program-available-bar {
  font-size: 12px;
  margin-top: 1px;
}

.program-available-bar__message {
  white-space: nowrap;
}

.program-available-bar__image {
  margin-right: 4px;
  border: 1px solid #f00;
  height: 2em;
  width: 2em;
}
