.report-list-product-header {
  color: #000;
  font-weight: bold;
  background: #47aee8 !important;
  border: outset 2px #005aa2 !important;
}

.report-list-product-entries {
  background: #fff;
}

.report-list-product-arrow {
  margin-left: 4px;
  margin-right: 4px;
}

.report-list-product-entry .report-list-col3 {
  width: 95px;
}
