.s44ng-settings__heading {
  font-size: 8pt;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1.5%;
}

.s44ng-settings__content {
  background-color: #ffe279;
  display: inline-block;
  height: 340px;
  width: 98%;
  margin-left: 1%;
  font-size: 9pt;
  margin-top: 1%;
}
