// Styles that extend the styles provided by ReactTable/SAMTable
$thead-color: #311c00;
$thead-background-color: #ffb200;
$thead-clicked-color: #ffa200;
$odd-table-row-background-color: rgba(0, 0, 0, 0);
$even-table-row-background-color: rgba(0, 0, 0, 0);

/* stylelint-disable-next-line selector-class-pattern */
.roster-students-table > .ReactTable {
  height: 301px;
  font-size: 12px;
  border-style: none;
  border-top: 1px #000 solid;
  // these styles are added by javascript after a table header was clicked
  .-sort-asc,
  .-sort-desc {
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: $thead-clicked-color;
  }

  .rt-thead {
    background-color: $thead-background-color;
    color: $thead-color;
    font-weight: 700;
    height: 24px;
    max-height: 24px;
    border-bottom: 1px solid #000;
  }

  .rt-th {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    transition: 0.3s ease;
    transition-property: width, min-width, padding, opacity;
  }

  .rt-tbody {
    border-right: 1px solid #000;
  }
  
  .rt-tbody:last-child {
    border: initial;
  }

  .rt-td {
    flex: 1;
    padding: 3px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s ease;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transition-property: width, min-width, padding, opacity;
  }

  .rt-td:last-child {
    border: initial;
    border-bottom: 1px solid #000;
  }

  .rt-tr.-odd {
    background: $odd-table-row-background-color;
  }

  .rt-tr.-even {
    background: $even-table-row-background-color;
  }
  /* stylelint-disable-next-line selector-max-compound-selectors */
  .rt-tr:last-child .rt-td {
    border-bottom: 0 solid #000;
  }

  // styles for custom elements within SAMTable
  .roster-students-table__body {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    display: block;
    height: 185px;
    overflow-y: auto;
    width: 772px;
  }
  
  .roster-students-table__no-data {
    background-color: #fff;
    display: inherit;
    height: 188px;
    background-color: #fff;
  }
  
  .roster-students-table__no-data-text {
    color: #f00;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 70px;
    text-align: center;
  }

}
