.modal--read180-studentwork-modal-quiz {
  width: 76%;
  height: 100%;
  padding: 0;
  margin-top: 1.5%;
  border: 0;
  border-radius: 15px;
}

.modal--savescreen-warning {
  width: 200px;
  height: 114px;
  padding: 0;
}

.modal--savewrapper-heading {
  background: #ddd;
  font-size: 13px;
  padding: 15px;
  font-weight: 700;
}

.modal--savewrapper-warning {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}

.read180ngsave-innerpage-button {
  display: flex;
  margin-top: 10px;
  margin-left: 50px;
}

.modal--savewrapper-warning .btn--primary {
  margin-right: 17px;
  text-align: center;
  margin-left: 45px;
  width: 30px;
  background-color: linear-gradient(#dee2e6, #1989e5);
}

.print-system44-modal-list--wrapper {
  width: 96%;
  margin: auto;
  height: 96%;
}

.read180-student-work-centerpanel {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 95%;
  margin: auto;
  height: 100%;
  border-bottom: #ccc 1px solid;
}

.read180-student-work--show-label-quiz-list--purple {
  background-color: #9a6fb6;
  height: 38px;
  line-height: 37px;
  padding-left: 2%;
  font-size: 17px;
  font-weight: bold;
  border-radius: 13px;
  color: #fff;
}

.button-close {
  position: absolute;
  right: 38px;
  top: 10px;
  background: #c895e8;
  border-radius: 7px;
  font-size: 14px;
  padding: 10px;
}

.read180-student-work-title {
  background: #e7e8e7;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
}

.read180-student-work-title-link {
  color: #11b4ea;
}

.read180-student-work-title-right {
  font-size: 13px;
  float: right;
  font-weight: 600;
}

.tabtop-btn {
  background-color: #fff;
  font-weight: 600;
  position: relative;
  border-top: #ccc 2px solid;
  border-left: #ccc 2px solid;
  border-right: #ccc 2px solid;
  border-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #000;
  padding: 1px 5px 12px 6px;
  width: 209px;
  text-align: center;
  margin-top: 3px;
}

.tabinr {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 5px;
  margin: 12px 3px;
  margin-right: 3px;
  border-bottom: #ccc 1px solid;
  width: 100%;
}

.tabinr-titl {
  background: #e7e8e7;
  font-weight: 600;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: #ccc 1px solid;
  padding: 7px 0 5px 15px;
}

.read180-tabs-list {
  font-size: 13px;
  padding-left: 0;
}

.block-titl {
  font-size: 13px;
  background: #e7e8e7;
  font-weight: 600;
  color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: #ccc 1px solid;
  padding: 7px 0 5px 15px;
}

.tabtop-btn1 {
  font-weight: 600;
  position: relative;
  color: #11b4ea;
  width: 209px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 20px;
}

.tabtop-btn2 {
  font-weight: 600;
  position: relative;
  top: 2px;
  color: #11b4ea;
  width: 209px;
  text-align: center;
  text-decoration: none;
}

.block {
  overflow: hidden;
  padding-bottom: 5px;
  margin: 12px 3px;
  margin-right: 3px;
  width: 100%;
}

.button-print {
  background: #e7e8e7;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin-left: 12px;
  font-size: 13px;
  width: 70px;
  margin-top: 3px;
}

.button-cancel {
  background: #e7e8e7;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin-left: 12px;
  font-size: 13px;
  width: 70px;
  margin-top: 3px;
}

.button-save {
  background: linear-gradient(#dee2e6, #9ca8b5);
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin-right: 30px;
  font-size: 13px;
  width: 70px;
  margin-top: 3px;
  float: right;
}

.print-read180ng-modal-button-save-blue {
  color: #fff;
  background: linear-gradient(#1989e5, #1f07f7);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #dee2e6;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.book-nav-bar {
  background-color: transparent;
}

.nav-bar__tab--expert {
  .nav-bar__text {
    padding: 0;
  }

  &::before {
    width: 290px;
    background-color: #ff9e61;
  }
}

.nav-bar__tab--quiz {
  &::before {
    background-color: #ff9e61;
    width: 296px !important;
  }
}

.book-nav-container {
  left: 0;
  margin-top: -20px;
  padding-top: 0;

  .nav-bar__tab--expert {
    width: auto;
  }

  .nav-bar__tab--active::before {
    border-bottom: 0;
  }

  .nav-bar__tab--expert.nav-bar__tab--active::before {
    background-color: #fee1b4;
  }

  .nav-bar__tab--quiz {
    width: auto;
    outline: none;
    cursor: pointer;
  }

  .tab-bar__text {
    padding-left: 15px;
    padding-right: 35px;
  }

  .nav-bar__tab--quiz.nav-bar__tab--active::before {
    background-color: #fee1b4;
  }

  .nav-bar__tab--active ~ .nav-bar__tab {
    width: 307px;
  }
}

/* React Tabs CSS*/
.tab-bar {
  height: auto !important;
}

.react-tabs__tab-list {
  margin-bottom: 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  bottom: -10px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  color: #11b4ea;
  font-weight: 600;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: #000;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
}

.react-tabs__tab--disabled {
  color: #797474;
  cursor: default;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab::after {
  content: '';
  position: absolute;
  height: 0;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.valu1 {
  background: #f8fbf8;
  box-shadow: 2px 1px 4px 1px #797474;
  border-radius: 20px;
  float: left;
  text-align: center;
  padding: 0 8px;
  margin-right: 15px;
  cursor: pointer;

  &.active {
    background-color: #dcf;
    box-shadow: inset 1px 1px 5px 1px #fb63d3de;
  }
}

.print-custom-booklabel__buttons {
  margin-top: -12px;
}

.read180-left-button-container {
  display: inline-block;
  width: 33%;
}

.read180-pagination-container {
  display: inline-block;
  width: 33%;
}

.read180-right-button-container {
  width: 33%;
  float: right;
}

.pager {
  display: inline-flex;
  font-size: 11px;
  margin: 0 25%;
}

.pager-nor {
  padding: 3px;
  background-color: #fff;
  height: 21px;
  width: 15px;
  margin-top: 5px;
  line-height: 15px;
  text-align: center;
}

.pager-prev {
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  margin-top: 5px;
  line-height: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.simulation-program-overall-score {
  background: #fff;
  position: absolute;
  top: 540px;
  right: 53px;
  border: 1px #8e8787 solid;
  width: 40%;
}

.simulation-program-overall-score-head {
  margin: 0;
  background: #f0f0f0;
  padding: 5px;
  font-size: 12px;
  border-bottom: #a7a1a1 1px solid;
}

.simulation-program-overall-score-info {
  border: #a09c9c 1px solid;
  margin: 4px;
  overflow: hidden;
}

.simulation-program-col-sm-4 {
  width: 33%;
  float: left;
}

.simulation-program-col-body {
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  font-size: 12px;
  text-align: center;
  border-right: #000 1px solid;
  border-bottom: #a09c9c 1px solid;
}

.simulation-program-col-p {
  border-right: #a09c9c 1px solid;
  margin: 0;
  font-size: 12px;
  padding: 8px 6px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.skill-assestment-overallscore {
  background: #fff;
  position: absolute;
  top: 350px;
  right: 53px;
  border: 1px #8e8787 solid;
  width: 60%;
}

.skill-assestment-overallscore-data {
  margin: 0;
  background: #f0f0f0;
  padding: 5px;
  font-size: 12px;
  border-bottom: #a7a1a1 1px solid;
}

.skill-assestment-overallscore-info {
  border: #a09c9c 1px solid;
  margin: 4px;
  overflow: hidden;
}

.skill-assestment-overallscore-information {
  width: 25%;
  float: left;
}

.skill-assestment-overallscore-info-points {
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  font-size: 12px;
  text-align: center;
  border-right: #000 1px solid;
  border-bottom: #a09c9c 1px solid;
}

.skill-assestment-overallscore-info-exp {
  border-right: #a09c9c 1px solid;
  margin: 0;
  font-size: 12px;
  padding: 8px 6px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

@media print {
  .button-print {
    display: none;
  }

  .button-cancel {
    display: none;
  }

  .button-save {
    display: none;
  }

  .iread-modal-buttons-firstset {
    display: none;
  }

  .read180-tabs-list {
    display: none;
  }

  .block-four {
    display: block;
  }

  .block-one {
    display: block;
  }

  .block-two {
    display: block;
  }

  .block-three {
    display: block;
  }

  .extended-writing-block-one {
    display: block;
  }

  .extended-writing-block-two {
    display: block;
  }

  .extended-writing-block-three {
    display: block;
  }

  .extended-writing-block-four {
    display: block;
  }
}
