.print-system44__modal-system44--modal {
  width: 76%;
  height: 92%;
  padding: 0;
  margin-top: 1.5%;
  border: 0;
  border-radius: 15px;
}

.print-system44-modal__list--wrapper {
  width: 96%;
  margin: auto;
  height: 96%;
}

.print-system44-modal__list--purple {
  background-color: #9a6fb6;
  margin-top: 2%;
  height: 38px;
  line-height: 37px;
  padding-left: 2%;
  font-size: 22px;
  font-weight: bold;
  border-radius: 13px;
  color: #fff;
}

.print-system44__modal--heading {
  float: left;
}

.print-system44-modal__button--close {
  position: absolute;
  right: 25px;
  background: #c895e8;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.print-system44__modal--title {
  margin-bottom: 0.5%;
  background: #e7e8e7;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  font-style: italic;
}

.print-system44__modal-title--span {
  font-style: normal;
  margin-left: 1%;
}

.print-system44-modal__description--box {
  width: 56%;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  height: 16%;
  float: left;
  margin-right: 0.5%;
}

.print-system44__modal-description--title {
  background: #e7e8e7;
  font-weight: bold;
  font-size: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2%;
}

.print-system44-modal__description-textarea--text {
  overflow-y: scroll;       
}

.print-system44-modal-assignment-roster-textarea1 {
  height: 250px;
  overflow-y: scroll;
}

.print-system44__modal-due--date {
  width: 43%;
  float: left;
  margin-left: 0.5%;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  height: 16%;
}

.print-system44__modal-due-date--content1 {
  margin-left: 3%;
  font-size: 14px;
  font-family: initial;
  width: 57%;
  float: left;
}

.print-system44-modal-assignment-roster-box {
  width: 100%;
  margin: 1% 0.5% 0 0;
  border: 1px solid #e7e8e7;
  border-radius: 14px;
  height: 16%;
  float: left;
  height: 315px;
}

.print-activatequiz__confirmtext2 {
  padding: 0;
  width: 60%;
  height: 18%;
  float: left;
}

.clear {
  clear: both;
}

.print-system44-modal-assignment-roster-div-headers11 {
  font-weight: bold;
  margin-left: 2%;
  font-size: 15px;
}

.print-system44-modal__buttons--firstset {
  margin: 10px 0 0 -9px;
  float: left;
}

.print-system44-modal__buttons--secondset {
  padding: 1% 0 0 83%;
}

.print-system44-modal-button-first-set {
  background: #e7e8e7;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin: 3px 0 0 12px;
  font-size: 13px;
  width: 70px;
}

.print-system44-modal__button-second--set {
  background: #e7e8e7;
  padding: 4px;
  margin: 3px 0 0 12px;
  border-radius: 12px;
  border: 1px solid;
  font-size: 13px;
  width: 70px;
}

.print-system44__show-system44-modal--line {
  height: 466px;
  border-bottom: 1px solid #e7e8e7;
}

.print-system44-modal__button--save {
  color: #fff;
  background: linear-gradient(#1989e5, #1f07f7);
}

.print-system44-modal-assignment-span {
  margin-left: 123px;
}

.print-system44-modal-assignment-textbox1 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin: 0 1% 0 6px;
}

.print-system44-modal-assignment-textbox2 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin-left: 6px;
}

.print-system44-modal-assignment-textbox3 {
  border: 1px solid;
  width: 30px;
  text-align: center;
  margin-left: 6px;
}

.print-system44-modal-button-equals {
  color: #fff;
  background: linear-gradient(to bottom, #f0ebf0 0%, #f1ecec 27%, #867f7f 100%);
  padding: 4px;
  border-radius: 12px;
  border: 1px solid;
  margin: 3px 0 0 5px;
  font-size: 13px;
  width: 33px;
}

.print-system44-modal-assignment-textbox-comment {
  border: 1px solid;
  margin-left: 50px;
  width: 400px;
}

.print-system44-modal-assignment-wrapper1 {
  font-size: 12px;
  margin-left: 2%;
}

.print-system44__modal-due-date--input {
  margin-top: 6%;
  border: 1px solid;
}

.print-system44-modal-select {
  border: 1px solid;
  margin: 0 1%;  
}

.print-system44-modal-input-textbox {
  border: 1px solid;
  margin: 0 1%;
  background: #fff;
}

.print-system44-modal-assignment-roster-div-details {
  width: 40%;
  margin: 2% 0;
  font-size: 12px;
  font-weight: normal;
}
